.dart_tool/
.devhome/
.flutter-plugins-dependencies
build/
android/.gradle/
android/local.properties
*.jks
*.keystore
dist/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
